<!DOCTYPE html >
<!-- Controller와 연동하기 위한 thymeleaf -->
<html xmlns="http://www.thymeleaf.org">
<!-- html태그안에 타임리프 주소를 넣는다, -->
<head>
<meta charset="UTF-8">
<title>Login Page</title>
</head>
<body>
	<div th:insert="common/sourceList :: sourceList"></div>
	<div th:replace="common/messageIcon :: messageIcon"></div>
	<div class="container-fluid">
		<h2>로그인 화면</h2>
		<div class="alert alert-danger d-flex align-items-center" role="alert" th:if="${errorMsg != null}">
			<svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:">
				<use xlink:href="#exclamation-triangle-fill" /></svg>
			<div th:text="${errorMsg}"></div>
		</div>
		<!-- th:action : 타임리프를 사용한다는 정의 -->
		<!-- th:object="${dto클래스의 앞글자만 소문자로 한 변수명을 넣어준다.}" -->
		<form th:action="@{/login}" method="post" th:object="${loginReqDto}">
			<!-- http://localhost:8080/login -->
			<div class="form-group">
				<!-- col은 12로 배분을 한 숫자로 비율이다
				 	화면의 크기에 따라 12개로 나눠서 col-1이면 12분의 1이다
				  -->
				<div class="col-2 col-md-2 col-xxl-2" style="min-width: 200px">
					<p>
						<label for="userId">로그인 ID : </label> <input class="form-control"
							type="text" th:field="*{userId}">
				</div>
				<div class="col-2 col-md-2 col-xxl-2" style="min-width: 200px">
					<p>
						<label for="password">패스워드 : </label> <input class="form-control"
							type="password" th:field="*{password}">
				</div>
				<p>
					<input class="btn btn-primary" type="submit" value="로그인">
			</div>
		</form>
		<div>
			<a th:href="@{/signup}">회원가입</a>
		</div>
	</div>
</body>
</html>