<!DOCTYPE html >
<!-- Controller와 연동하기 위한 thymeleaf -->
<html xmlns="http://www.thymeleaf.org">
<!-- html태그안에 타임리프 주소를 넣는다, -->
<head>
<meta charset="UTF-8">
<title>Login Page</title>
</head>
<body>
	<h2>로그인 화면</h2>
	<!-- th:action : 타임리프를 사용한다는 정의 -->
	<!-- th:object="${dto클래스의 앞글자만 소문자로 한 변수명을 넣어준다.}" -->
	<form th:action="@{/login}" method="post" th:object="${loginReqDto}">
		<!-- http://localhost:8080/login -->
		<div>
			<label>로그인 ID</label><input type="text" th:field="*{loginId}">
		</div>
		<div>
			<label>패스워드</label><input type="password" th:field="*{password}">
		</div>
		<div>
			<input type="submit" value="로그인">
		</div>
	</form>
</body>
</html>