<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>탑 메뉴</title>
</head>
<body>
	<div th:insert="common/sourceList :: sourceList"></div>
	<div th:replace="common/header :: header"></div>
	<div class="container-fluid">
		<h2>탑메뉴</h2>
		<div class="mt-3">
			상품리스트의 확인 및 관리하기
		</div>
		<a href="" class="btn btn-primary">상품리스트</a>
		<!-- th:block : 자식태그를 그룹핑하여 관리하고 싶을 때 사용 -->
		<th:block th:if="${hasUserManageAuth}">
			<div class="mt-3">
				유저정보관리하기		
			</div>
			<a th:href="@{/userList}" class="btn btn-danger">유저관리</a>
		</th:block>
	</div>
</body>
</html>