<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<!-- As a link -->
	<nav class="navbar bg-info navbar-dark" th:fragment="header">
		<div class="container-fluid">
			<a class="navbar-brand" th:href="@{/menu}">상품관리시스템</a>
			<form th:action="@{/logout}" method="post">
				<!-- 로그인아이디를 받기위해선 authentication.principal.username 그리고 전체적으로 '|'로 감싸줘야함  -->
				<span class="text-light" th:text="|로그인ID : ${#authentication.principal.username}|"></span>	
				<input type="submit" class="btn btn-light" value="로그아웃">
			</form>
		</div>
	</nav>
</body>
</html>