<!DOCTYPE html>
<!-- 각 HTML문서에 bootstrap을 쓰기 위한 공통으로 들어가는 소스를 모아놓은 HTML파일 -->
<html xmlns:th="http://www.thymeleaf.org">
<!-- th:fragment : 템플릿을 조각으로 가져와서 사용한다는 의미 -->
<head th:fragment="sourceList">
<!-- bootstrap의 css  -->
<link type="text/css" rel="stylesheet" th:href="@{webjars/bootstrap/5.3.3/css/bootstrap.min.css}" />
<!-- bootstrap의 JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
	crossorigin="anonymous"></script>
<link type="text/css" rel="stylesheet" th:href="@{/css/common.css}">
<script type="text/javascript" th:src="@{webjars/jquery/3.7.1/jquery.min.js}"></script>
</head>
</head>
<body>

</body>
</html>